@page
@model SmartEnrollmentFor911.Pages.CrimeSurveys.CreateModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<h1 class="font">Take a Survey!</h1>
<h2 class="font">Your survey helps us analyse the crime rate in different cities which helps in crime reduction</h2>
<hr />

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="CrimeSurvey.FirstName" class="control-label"></label>
                <input asp-for="CrimeSurvey.FirstName" class="form-control" />
                <span asp-validation-for="CrimeSurvey.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="CrimeSurvey.LastName" class="control-label"></label>
                <input asp-for="CrimeSurvey.LastName" class="form-control" />
                <span asp-validation-for="CrimeSurvey.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="CrimeSurvey.CityYouLive" class="control-label"></label>
                <input asp-for="CrimeSurvey.CityYouLive" class="form-control" />
                <span asp-validation-for="CrimeSurvey.CityYouLive" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="CrimeSurvey.ShiftCity" class="control-label"></label>
                <input asp-for="CrimeSurvey.ShiftCity" class="form-control" />
                <span asp-validation-for="CrimeSurvey.ShiftCity" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CrimeSurvey.isSafe" /> @Html.DisplayNameFor(model => model.CrimeSurvey.isSafe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
